.tweetBox{
    border-bottom: 1px solid var(--twitter-background);
    width: 90%;
    margin: auto;
}
.tweetBox_input{
    display: flex;
    align-items: center;
    padding: 20px;
}
.tweetBox_input > input{
    margin: 20px;
    font-size: 20px;
    border: none;
    width: 100%;
}
.tweetBox_input > input:focus{
    outline: none;
}
.tweetBox_ImageInput{
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-bottom: 10px;
}
.tweetBox_ImageInput > input{
    width: 80%;
    margin: auto;
    font-size: 16px;
    border: none;
}
.tweetBox_ImageInput > input::-webkit-input-placeholder{
    color: var(--twitter-color);
    font-weight: 900;
}
.tweetBox_ImageInput > input:focus{
    outline: none;
}
.tweetBox_input > img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.imageIcon{
    color: var(--twitter-color) !important;
}
.tweetBox_button > button{
    background: var(--twitter-color) !important;
    color: white !important;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
     border-radius: 30px;
     font-weight: 900;
}